{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center mb-3">
                <div class="col-lg-3">
                    {{ form_label(form.fecha, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.fecha, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-3">
                    {{ form_label(form.horario, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.horario, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-6">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-lg-6 {% if form.local.vars.value == 'no' %} order-2 {% endif %}">
                    {{ form_label(form.id_equipo, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.id_equipo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-6">
                    {{ form_label(form.id_rival, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.id_rival, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
                
            <div class="row justify-content-between mb-3">
                <div class="col-lg-3">
                    {{ form_label(form.resultado_local, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.resultado_local, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-3">
                    {{ form_label(form.resultado_visitante, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.resultado_visitante, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
                
            <div class="row justify-content-center mb-3">
                <div class="col-lg-6">
                    {{ form_label(form.id_estadio, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.id_estadio, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-lg-4">
                    {{ form_label(form.id_detalle_tipo_partido, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.id_detalle_tipo_partido, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-4">
                    {{ form_label(form.local, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.local, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-4">
                    {{ form_label(form.mostrar, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.mostrar, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-lg-3">
                    {{ form_label(form.autocar, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.autocar, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-3">
                    {{ form_label(form.codigoPartido, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.codigoPartido, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-6">
                    {{ form_label(form.observaciones, null, {'label_attr': {'class': 'form-label font-weight-bold'}}) }}
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary float-right">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
