{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row justify-content-center">
        <div class="col-11">
            <h1 class="mb-4">Partidos</h1>
            <p><a href="{{ path('app_fut_u_equipos_rivales_new') }}" class="btn btn-danger">Crear Partido</a></p>
            <div class="table-responsive">
                <table class="table" id="tbl-partidos">
                    <thead>
                        <tr>
                            <th>Id partido</th>
                            <th>Local</th>
                            <th>Visitante</th>
                            <th>Estadio</th>
                            <th>Tipo partido</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Horario</th>
                            <th class="text-center">Resultado local</th>
                            <th class="text-center">Resultado visitante</th>
                            <th class="text-center">Local</th>
                            <th>Observaciones</th>
                            <th class="text-center">Mostrar</th>
                            <th class="text-center">Autocar</th>
                            <th class="text-center">Codigo Partido</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        jQuery(document).ready(function ($) {
        
            $("#tbl-partidos").DataTable({
                dom: 'lBfrtip',
                processing: true,
                serverSide: true,
                pageLength: 60,
                lengthMenu:[
                    [60,100,500,-1],[60,100,500,'Todos']
                ],
                buttons: [
                    {
                        extend: "copy",
                        text: "<i class='fas fa-copy'></i> Copy",
                        className: 'btn btn-success mb-1',
                        //action: function () { console.log(this)}
                    },
                    {
                        extend: "excel",
                        text: "<i class='fas fa-file-excel'></i> Excel",
                        className: 'btn btn-danger mb-1',
                        //action: function () { console.log(this)}
                    },

                ],
                columns: [
                    {name: "id_partido", data: "id_partido"},
                    {name: "equipo", data: "equipo"},
                    {name: "rival", data: "rival"},
                    {name: "nombre_estadio", data: "nombre_estadio"},
                    {name: "nombre_detalle", data: "nombre_detalle"},
                    {
                        name: "fecha",
                        data: "fecha",
                        render: function(data, type, row) {
                            // Suponiendo que data es la fecha en formato 'Y-m-d H:i:s'
                            var dateObj = new Date(data);
                            var formattedDate = dateObj.toLocaleString('es-ES', { day: 'numeric', month: 'numeric', year: 'numeric' });
                            return formattedDate;
                        },
                        className: 'text-center'
                    },
                    {
                        name: "horario",
                        data: "horario",
                        render: function(data, type, row, meta) {
                            if (data) {
                                var hora = data.split(':')[0] + ':' + data.split(':')[1];
                                return hora;
                            } else {
                                return '';
                            }
                        },
                        className: 'text-center'
                    },
                    {name: "resultado_local", data: "resultado_local",className: 'text-center'},
                    {name: "resultado_visitante", data: "resultado_visitante",className: 'text-center'},
                    {name: "local", data: "local", className: 'text-center'},
                    {name: "observaciones", data: "observaciones"},
                    {
                        name: "mostrar",
                        data: "mostrar",
                        render: function(data, type, row, meta) {
                            return data == 1 ? 'Sí' : 'No';
                        },
                        className: 'text-center'
                    },
                    {name: "autocar", data: "autocar", className: 'text-center'},
                    {name: "codigo_partido", data: "codigo_partido", className: 'text-center'},
                    {
                        name: "actions",
                        data: null,
                        render: function(data, type, row, meta) {
                            var idPartido = data.id_partido;
                            var editUrl = "{{ path('app_fut_u_equipos_rivales_edit', {'id_partido': 'ID_PARTIDO'}) }}".replace('ID_PARTIDO', idPartido);
                            var deleteUrl = "{{ path('app_fut_u_equipos_rivales_delete', {'id_partido': 'ID_PARTIDO'}) }}".replace('ID_PARTIDO', idPartido);
                            return `
                                <div class="justify-content-center d-flex text center">
                                    <a class="btn btn-sm btn-success my-2 mx-2" href="${editUrl}">Editar</a>
                                    <a class="btn btn-sm btn-danger my-2 mx-2" href="${deleteUrl}" onclick="return confirm('¿Estás seguro de que deseas eliminar el registro?')">Eliminar</a>
                                </div>
                                `;
                        },
                        className: 'text-center'
                    },
                ],
                order: [[5, "desc"],[6, "asc"]],
                ajax: {
                    url: "{{ url('app_fut_u_equipos_rivales_index_ajax' ) }}",
                    dataSrc: "data"
                    //type: 'GET',
                    //dataType: "json"
                }
            });
        })
        
    </script>
    
{% endblock %}
