{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Partido</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id_partido</th>
                        <td>{{ fut_u_equipos_rivale.idPartido }}</td>
                    </tr>
                    <tr>
                        <th>Id_equipo</th>
                        <td>{{ fut_u_equipos_rivale.idEquipo }}</td>
                    </tr>
                    <tr>
                        <th>Id_rival</th>
                        <td>{{ fut_u_equipos_rivale.idRival }}</td>
                    </tr>
                    <tr>
                        <th>Id_estadio</th>
                        <td>{{ fut_u_equipos_rivale.idEstadio }}</td>
                    </tr>
                    <tr>
                        <th>Id_detalle_tipo_partido</th>
                        <td>{{ fut_u_equipos_rivale.idDetalleTipoPartido }}</td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>{{ fut_u_equipos_rivale.fecha ? fut_u_equipos_rivale.fecha|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Horario</th>
                        <td>{{ fut_u_equipos_rivale.horario ? fut_u_equipos_rivale.horario|date('H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Resultado_local</th>
                        <td>{{ fut_u_equipos_rivale.resultadoLocal }}</td>
                    </tr>
                    <tr>
                        <th>Resultado_visitante</th>
                        <td>{{ fut_u_equipos_rivale.resultadoVisitante }}</td>
                    </tr>
                    <tr>
                        <th>Local</th>
                        <td>{{ fut_u_equipos_rivale.local }}</td>
                    </tr>
                    <tr>
                        <th>Observaciones</th>
                        <td>{{ fut_u_equipos_rivale.observaciones }}</td>
                    </tr>
                    <tr>
                        <th>Mostrar</th>
                        <td>{{ fut_u_equipos_rivale.mostrar }}</td>
                    </tr>
                    <tr>
                        <th>Autocar</th>
                        <td>{{ fut_u_equipos_rivale.autocar }}</td>
                    </tr>
                    <tr>
                        <th>CodigoPartido</th>
                        <td>{{ fut_u_equipos_rivale.codigoPartido }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <a href="{{ path('app_fut_u_equipos_rivales_index') }}">back to list</a>

    <a href="{{ path('app_fut_u_equipos_rivales_edit', {'id_partido': fut_u_equipos_rivale.id_partido}) }}">edit</a>

    {{ include('web_colmenar/fut_u_equipos_rivales/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

