{% extends 'base.html.twig' %}

{% block title %}{{ title_general }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .textarea-custom {
            height: 150px; /* Aumentar altura */
        }
        .mvp-select {
            background-color: #f8f9fa; /* Un ligero fondo gris para diferenciar */
            border: 1px solid #ced4da; /* Un borde para coincidir con el estilo de Bootstrap */
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container mt-md-5 mt-lg-0">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">{{ cronica.idCronica ? 'Editar' : 'Añadir' }} Crónica</h1>
                <hr>
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true, 'enctype':'multipart/form-data'}}) }}
                
                    <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header bg-primary text-white">
                                <h5>Detalles del Partido</h5>
                            </div>
                            <div class="card-body text-center">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="5" class="text-center bg-light border text-primary">
                                                    {% if cronica.idPartido.fecha is defined %}
                                                        {{ cronica.idPartido.fecha|date('d-m-Y') }} &nbsp
                                                    {% endif %}
                                                    {% if cronica.idPartido.horario is defined %}
                                                        {{ cronica.idPartido.horario|date('H:i') }} H. &nbsp
                                                    {% endif %}
                                                    {% if cronica.idPartido.competicion is defined %}
                                                        {{ cronica.idPartido.competicion }} &nbsp
                                                    {% endif %}
                                                    {% if cronica.idPartido.grupo is defined %}
                                                        {{ cronica.idPartido.grupo }}
                                                    {% endif %}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% if cronica.idPartido.local == 'si' %}
                                                    <td class="text-center border col-5">{{ cronica.idPartido.idEquipo.equipo }}</td>
                                                    <td class="text-center border col-1">{{ form_widget(form.resultadoLocal, {'attr': {'class': 'form-control', 'placeholder': 'Local', 'style': 'text-align: center;'}}) }}</td>
                                                    <td class="text-center">-</td>
                                                    <td class="text-center border col-1">{{ form_widget(form.resultadoVisitante, {'attr': {'class': 'form-control', 'placeholder': 'Visitante', 'style': 'text-align: center;'}}) }}</td>
                                                    <td class="text-center border col-5">{{ cronica.idPartido.idRival.rival }}</td>
                                                {% else %}
                                                    <td class="text-center border col-5">{{ cronica.idPartido.idRival.rival }}</td>
                                                    <td class="text-center border col-1">{{ form_widget(form.resultadoLocal, {'attr': {'class': 'form-control', 'placeholder': 'Local', 'style': 'text-align: center;'}}) }}</td>
                                                    <td class="text-center">-</td>
                                                    <td class="text-center border col-1">{{ form_widget(form.resultadoVisitante, {'attr': {'class': 'form-control', 'placeholder': 'Visitante', 'style': 'text-align: center;'}}) }}</td>
                                                    <td class="text-center border col-5">{{ cronica.idPartido.idEquipo.equipo }}</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header bg-danger text-white">
                                <h5>Texto de la crónica</h5>
                            </div>
                            <div class="card-body">
                                {{ form_widget(form.textoCronica, {'attr': {'class': 'form-control textarea-custom'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                            
                {% if is_granted('ROLE_NACHO') %}
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header bg-danger text-white">
                                <h5>Texto de la crónica pasada por CHATGPT</h5>
                            </div>
                            <div class="card-body">
                                {{ form_widget(form.textoCronicaChatgpt, {'attr': {'class': 'form-control textarea-custom'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
               
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header bg-danger text-white">
                                <h5>MVP's</h5>
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-md-6 mb-3">
                                        {{ form_label(form.mvp, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                                        {{ form_widget(form.mvp, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form_label(form.mvpSemana, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                                        {{ form_widget(form.mvpSemana, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header bg-danger text-white">
                                <h5>Goleadores</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-sm">
                                          <thead>
                                            <tr>
                                              <th>Goleador</th>
                                              <th>Número de Goles</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for i in 1..7 %}
                                            <tr>
                                              <td>{{ form_widget(attribute(form, 'goleador' ~ i), {'attr': {'class': 'form-control'}}) }}</td>
                                              <td>{{ form_widget(attribute(form, 'numeroGoles' ~ i), {'attr': {'class': 'form-select form-control'}}) }}</td>
                                            </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header bg-success py-3">
                                <h5 class="m-0 font-weight-bold text-center">Galería de Imágenes</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% if imagenesCronica is not empty %}
                                        {% for imagen in imagenesCronica %}
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4 text-center">
                                                <div class="card">
                                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(imagenes_cronicas_url_base ~ imagen.ruta) }}" class="card-img-top img-fluid" alt="Imagen de la crónica" style="max-width: 100%; height: auto;">
                                                    <div class="card-body text-center">
                                                        <button type="button" class="btn btn-danger btn-sm delete-btn d-block d-sm-inline mt-2 mx-auto"
                                                            data-bs-toggle="modal" 
                                                            data-bs-target="#deleteConfirmationModal" 
                                                            data-imagen-id="{{ imagen.idImagen }}"
                                                            data-delete-url="{{ path('app_fut_t_cronicas_delete_imagen', {'id': imagen.idImagen}) }}">
                                                            Eliminar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="pb-4 text-center col-12">
                                            <p>No hay imágenes asociadas a esta crónica.</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        {{ form_label(form.imagenes, 'Introduzca las imágenes') }}
                                        {{ form_widget(form.imagenes, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.imagenes) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header bg-success py-3">
                                <h5 class="m-0 font-weight-bold text-center">Otros datos</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% if is_granted('ROLE_NACHO') %}
                                        <div class="col-4">
                                            <div class="col-auto d-flex align-items-center ms-3">
                                                <label class="form-label fw-bold me-3">Pasar crónicas por ChatGPT:</label>
                                                <div class="form-check form-check-inline">
                                                    {{ form_widget(form.usarChatGPT.1, {'attr': {'id': 'usarChatGPTNo'}}) }}
                                                    <label class="form-check-label ms-2" for="usarChatGPTNo">No</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    {{ form_widget(form.usarChatGPT.0, {'attr': {'id': 'usarChatGPTSi'}}) }}
                                                    <label class="form-check-label ms-2" for="usarChatGPTSi">Sí</label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-4">
                                        <label class="form-label fw-bold">Publicado en redes:</label>
                                        {{ form_widget(form.publicadoEnRedes, {'attr': {'class': 'form-select form-control'}}) }}
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label fw-bold">Enviado por WhatsApp:</label>
                                        {{ form_widget(form.enviadoWhatsapp, {'attr': {'class': 'form-select form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        

                <div class="row justify-content-start mt-3">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">{{ cronica.idCronica ? 'Guardar' : 'Añadir' }} Crónica</button>
                    </div>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
                
<!-- Modal de Confirmación de Bootstrap para Eliminación -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar esta imagen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Eliminar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
       $(document).ready(function() {
            $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Botón que activó la modal
                var deleteUrl = button.data('delete-url'); // Leer la URL generada por Symfony

                $('#confirmDelete').off('click').on('click', function() {
                    $.ajax({
                        url: deleteUrl, // Usar la URL obtenida del botón "Eliminar"
                        type: 'POST',
                        success: function(result) {
                            location.reload();
                        },
                        error: function(error) {
                            console.log('Error al eliminar imagen:', error);
                        }
                    });
                });
            });
        });
    </script>
    
{% endblock %}
