{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="container mt-3">
                <div class="row justify-content-start">
                    {% if is_granted('ROLE_ENTRENADOR_COLMENAR') %}
                        <div class="col-md-3 text-center">
                            <a href="{{ url('app_fut_t_cronicas_semana')}}" class="btn btn btn-outline-warning btn-lg btn-block font-weight-bold py-5 px-5 my-2 d-flex align-items-center justify-content-center btn-container">
                                Cronicas para entrenadores
                            </a>
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_COLMENAR') %}
                        <div class="col-md-3 text-center">
                            <a href="{{ url('app_fut_t_cronicas_semana_actual')}}" class="btn btn btn-outline-success btn-lg btn-block font-weight-bold py-5 px-5 my-2 d-flex align-items-center justify-content-center btn-container">
                                Cronicas para mi
                            </a>
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_SUPER_COLMENAR') %}
                        <div class="col-md-3 text-center">
                            <a href="{{ url('app_fut_t_fotos_de_cronicas')}}" class="btn btn btn-outline-success btn-lg btn-block font-weight-bold py-5 px-5 my-2 d-flex align-items-center justify-content-center btn-container">
                                Fotos de crónicas
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        jQuery(document).ready(function ($) {

        });
        
    </script>
    
{% endblock %}
