{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row justify-content-around mb-5">
        <div class="col-md-3 mb-3 bg-light p-3 mr-5 border rounded border-secondary">
            <h3 class="text-center">Subir Archivo CSV</h3>
            <hr>
            <form method="post" action="{{ path('cargar_jugadores_csv') }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="csv_file" class="form-label">Archivo CSV</label>
                    <input type="file" class="form-control" id="csv_file" name="csv_file[]" multiple>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Grabar</button>
            </form>
        </div>
                
        <div class="col-md-3 mb-3 bg-light p-3 mr-5 border rounded border-secondary">
            <h3 class="text-center">Grabar partidos de liga</h3>
            <hr>
            
        </div>
    </div>
            
    <div class="row justify-content-center">
        <div class="col-11">
            <h2 class="mb-3">Listado de jugadores</h2>
                <hr>
                {% if jugadores is not defined or jugadores is empty %}
                    <p>No hay datos cargados.</p>
                {% else %}
                <div class="table-responsive">
                    <table class="table" id="jugadoresTable">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Nombre Deportivo</th>
                                <th>Equipo</th>
                                <th>Correo Jugador</th>
                                <th>Correo Padre</th>
                                <th>Correo Madre</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for jugador in jugadores %}
                            <tr>
                                <td>{{ jugador.codJugGesdep }}</td>
                                <td>{{ jugador.nombre }}</td>
                                <td>{{ jugador.apellidos }}</td>
                                <td>{{ jugador.nombreDeportivo }}</td>
                                <td>{{ jugador.idEquipo ? jugador.idEquipo.equipo : 'Sin equipo' }}</td>
                                <td>{{ jugador.correoJugador }}</td>
                                <td>{{ jugador.correoPadre }}</td>
                                <td>{{ jugador.correoMadre }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">No se encontraron jugadores.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
    $(document).ready(function() {
        var dataTable = $('#jugadoresTable').DataTable({
            columns: [
                { title: "Código" },
                { title: "Nombre" },
                { title: "Apellidos" },
                { title: "Nombre Deportivo" },
                { title: "Equipo" },
                { title: "Correo Jugador" },
                { title: "Correo Padre" },
                { title: "Correo Madre" }
            ],
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
            order: [[0, 'asc']], // Ordenar por código de forma ascendente
            paging: true, // Habilitar paginación
            pageLength: 50, // Cantidad de registros por página
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
        });
    });
    
    function confirmDeleteCsv() {
        if (confirm("¿Estás seguro de que quieres eliminar los datos?")) {
            window.location.href = "{{ path('eliminar_partidos_csv') }}";
        } else {
            event.preventDefault();
        }
    }
        
    </script>
    
{% endblock %}