{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="row">
        <h1>Create new Roles</h1>

        <div class="col-md-6">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.nombre_role, 'Nombre') }}
                {{ form_widget(form.nombre_role, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.descripcion_es, 'Descripción en español') }}
                {{ form_widget(form.descripcion_es, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.descripcion_en, 'Descripción en inglés') }}
                {{ form_widget(form.descripcion_en, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{{ path('app_roles_index') }}" class="btn btn-secondary">Back to list</a>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
