{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Roles</h1>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <table class="table">
          <tbody>
            <tr>
              <th>Id</th>
              <td>{{ role.id }}</td>
            </tr>
            <tr>
              <th>Nombre_role</th>
              <td>{{ role.nombreRole }}</td>
            </tr>
            <tr>
              <th>Descripcion</th>
              <td>{{ role.descripcion('_'~app.request.getLocale()) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <a href="{{ path('app_roles_index') }}">back to list</a>

    <a href="{{ path('app_roles_edit', {'id': role.id}) }}">edit</a>

    {{ include('BASE/roles/_delete_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
