{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row justify-content-center">
        <div class="col-11">
            <h1 class="mb-4">Solicitar Permisos</h1>
            
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form, {'action': path('app_user_gestion_solicitar_permisos')}) }}
                <div class="mb-3 row">
                    {{ form_label(form.nombre, 'Nombre en Google', {'label_attr': {'class': 'col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.nombre, { 'attr': {'readonly': 'readonly', 'class': 'form-control', 'style': 'background-color: #e9ecef; cursor: not-allowed;'} }) }}
                    </div>
                </div>

                <div class="mb-3 row">
                    {{ form_label(form.email, 'Email de la cuenta', {'label_attr': {'class': 'col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.email, { 'attr': {'readonly': 'readonly', 'class': 'form-control', 'style': 'background-color: #e9ecef; cursor: not-allowed;'} }) }}
                    </div>
                </div>

                <div class="mb-3 row">
                    {{ form_label(form.texto, 'Introduce tus datos y el equipo al que entrenas', {'label_attr': {'class': 'col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.texto, {'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Introduce tus datos y el equipo que entrenas. \nLa respuesta la obtendrás en el mail ' ~ form.nombre.vars.value ~ ' lo antes posible.'}}) }}
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-sm-8">
                        {{ form_widget(form.enviar) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        jQuery(document).ready(function ($) {

            
        })
        
    </script>
    
{% endblock %}
