{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="row mb-3">
        <div class="form-group col-lg-9">
            {{ form_label(form.rival, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.rival, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-lg-3">
            {{ form_label(form.comprobada_equipacion, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.comprobada_equipacion, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="form-group col-lg-4">
            {{ form_label(form.camiseta, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.camiseta, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-lg-4">
            {{ form_label(form.pantalon, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.pantalon, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-lg-4">
            {{ form_label(form.medias, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.medias, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="form-group col-lg-2">
            {{ form_label(form.cod_eq_fed, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.cod_eq_fed, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-lg-10">
            {{ form_label(form.nombre_eq_fed, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nombre_eq_fed, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="form-group col-lg-6">
            {{ form_label(form.localidad_fed, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.localidad_fed, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-lg-6">
            {{ form_label(form.provincia_fed, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.provincia_fed, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
        
    <a class="btn btn-warning" href="{{ path('app_fut_t_rivales_index') }}">Volver</a>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
