{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row justify-content-center">
        <div class="col-11">
            <h1 class="mb-4">Rivales</h1>
            <p><a href="{{ path('app_fut_t_rivales_new') }}" class="btn btn-danger">Crear Rival</a></p>
            <div class="table-responsive">
                <table id="tbl-rival" class="table table-striped table-bordered w-100">
                    <thead>
                        <tr>
                            <th>Id_rival</th>
                            <th>Rival</th>
                            <th>Camiseta</th>
                            <th>Pantalon</th>
                            <th>Medias</th>
                            <th>Comprobada equipacion</th>
                            <th class="text-center">Cod_eq_fed</th>
                            <th>Nombre_eq_fed</th>
                            <th>Localidad_fed</th>
                            <th>Provincia_fed</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        jQuery(document).ready(function ($) {
        
            $("#tbl-rival").DataTable({
                dom: 'lBfrtip',
                processing: true,
                serverSide: true,
                pageLength: 25,
                lengthMenu:[
                    [10,25,100,500,-1],[10,25,100,500,'Todos']
                ],
                buttons: [
                    {
                        extend: "copy",
                        text: "<i class='fas fa-copy'></i> Copy",
                        className: 'btn btn-success mb-1',
                        //action: function () { console.log(this)}
                    },
                    {
                        extend: "excel",
                        text: "<i class='fas fa-file-excel'></i> Excel",
                        className: 'btn btn-danger mb-1',
                        //action: function () { console.log(this)}
                    },

                ],
                columns: [
                    {name: "id_rival", data: "id_rival"},
                    {name: "rival", data: "rival"},
                    {name: "camiseta", data: "camiseta"},
                    {name: "pantalon", data: "pantalon"},
                    {name: "medias", data: "medias"},
                    {name: "comprobada_equipacion", data: "comprobada_equipacion"},
                    {name: "cod_eq_fed", data: "cod_eq_fed"},
                    {name: "nombre_eq_fed", data: "nombre_eq_fed"},
                    {name: "localidad_fed", data: "localidad_fed"},
                    {name: "provincia_fed", data: "provincia_fed"},
                    {
                        name: "actions",
                        data: null,
                        render: function(data, type, row, meta) {
                            var idRival = data.id_rival;
                            var editUrl = "{{ path('app_fut_t_rivales_edit', {'id_rival': 'ID_RIVAL'}) }}".replace('ID_RIVAL', idRival);
                            var deleteUrl = "{{ path('app_fut_t_rivales_delete', {'id_rival': 'ID_RIVAL'}) }}".replace('ID_RIVAL', idRival);
                            return `
                                <div class="justify-content-center d-flex text center">
                                    <a class="btn btn-sm btn-success my-2 mx-2" href="${editUrl}">Editar</a>
                                    <a class="btn btn-sm btn-danger my-2 mx-2" href="${deleteUrl}" onclick="return confirm('¿Estás seguro de que deseas eliminar el registro?')">Eliminar</a>
                                </div>
                                `;
                        }
                    }
                ],
                ajax: {
                    url: "{{ url('app_fut_t_rivales_index_ajax' ) }}",
                    dataSrc: "data"
                    //type: 'GET',
                    //dataType: "json"
                }
            });
        })
        
    </script>
    
{% endblock %}