{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row justify-content-center">
        <div class="col-11">
            <h1 class="mb-4">Usuarios</h1>
            <p><a href="{{ path('app_fut_t_equipos_new') }}" class="btn btn-danger">Crear Equipo</a></p>
            <div class="table-responsive">
                <table class="table" id="tbl-equipos">
                    <thead>
                        <tr>
                            <th>Equipo</th>
                            <th>Equipo Menu</th>
                            <th>Imagen</th>
                            <th>Orden</th>
                            <th>Patrocinio</th>
                            <th>Web Patrocinio</th>
                            <th>Logo Patrocinio</th>
                            <th>Clasificación</th>
                            <th>Historico Clasificación</th>
                            <th>Competicion Actual</th>
                            <th>Sexo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fut_t_equipo in fut_t_equipos %}
                            <tr>
                                <td>{{ fut_t_equipo.equipo }}</td>
                                <td>{{ fut_t_equipo.equipoMenu }}</td>
                                <td>{{ fut_t_equipo.imagen |slice(-19) }}</td>
                                <td>{{ fut_t_equipo.orden }}</td>
                                <td>{{ fut_t_equipo.patrocinio }}</td>
                                <td>{{ fut_t_equipo.webPatrocinio|slice(0, 20) }}</td>
                                <td>{{ fut_t_equipo.logoPatrocinio|slice(-20) }}</td>
                                <td>{{ fut_t_equipo.clasificacion|slice(0, 20) }}</td>
                                <td>{{ fut_t_equipo.historicoClasificacion }}</td>
                                <td>{{ fut_t_equipo.competicionActual }}</td>
                                <td>{{ fut_t_equipo.sexo }}</td>
                                <td>
                                    <a class="btn btn-sm btn-success my-2 mx-2" href="{{ path('app_fut_t_equipos_edit', {'id_equipo': fut_t_equipo.idEquipo}) }}">Editar</a>
                                    {{ include('web_colmenar/fut_t_equipos/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="15">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        jQuery(document).ready(function ($) {
            
            $('#tbl-equipos').DataTable({
                searching: true,
                paging: false
            });
            
        })
        
    </script>
    
{% endblock %}
