<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="description">
        <meta name="YO" content="YO">
        <meta name="generator" content="YO">
    
        <title>{% block title %}{{ title_general }}{% endblock %}</title>
        <link type="image/x-icon" rel="shortcut icon" type="image/x-icon" href="{{ asset(favicon_ico) }}">
                
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset(bootstrap_css) }}">
            <link rel="stylesheet" href="{{ asset(datatables_css) }}">
            <link rel="stylesheet" href="{{ asset(select2_css) }}" />
            <link rel="stylesheet" href="{{ asset(pro_sidebar_css) }}">
            <link rel="stylesheet" href="{{ asset(general_css) }}">
            
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/2.5.0/remixicon.min.css">
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset(jquery_js) }}" type="text/javascript"></script>
            <script src="{{ asset(popper_js) }}" type="text/javascript"></script>
            <script src="{{ asset(bootstrap_js) }}" type="text/javascript"></script>
            <script src="{{ asset(datatables_js) }}" type="text/javascript"></script>
            <script src="{{ asset(select2_js) }}"></script>
            <script src="{{ asset(general_js) }}" type="text/javascript"></script>
            
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/javascript"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js" type="text/javascript"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js" type="text/javascript"></script>
            
            {{ include('BASE/generales/locale.html.twig') }}
        {% endblock %}
 
    </head>
    <body>
        <div class="layout has-sidebar fixed-sidebar fixed-header">
            {% if mostrar_menu is not defined %}
                {% block menu_principal %}
                    {{ include('BASE/menu/menu.html.twig') }}
                {% endblock %}
            {% endif %}
            
            <div id="overlay" class="overlay"></div>
            
            <div class="layout">
                <main class="content bg-light">
                    {% if mostrar_menu is not defined %}
                        <div>
                            <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
                              <i class="ri-menu-line ri-xl"></i>
                            </a>
                        </div>
                    {% endif %}
                    {% block body %}
                        <div class="">
                            {{ include('BASE/generales/mensajes_flash.html.twig') }}
                        </div>
                    {% endblock %}
                    {% if mostrar_menu is not defined %}
                        {{ include('BASE/footer.html.twig') }}
                    {% endif %}
                </main>
                <div class="overlay"></div>
            </div>
        </div>
    </body>
    
    <script src="{{ asset(pro_sidebar_js) }}" type="text/javascript"></script>
    
    
</html>