{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="container mt-3">
        <div class="row justify-content-start">
            <div class="col-12 text-center">
                <h1>CSV a DRIVE</h1>
                <hr>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-md-3 text-center">
                <a href="{{ url('csv_a_drive_equipos')}}" class="btn btn btn-outline-primary btn-lg btn-block font-weight-bold py-5 px-5 d-flex align-items-center justify-content-center btn-container">
                    Exportar Equipos
                </a>
            </div>

            <div class="col-md-3 text-center">
                <a href="{{ url('csv_a_drive_partidos')}}" class="btn btn btn-outline-primary btn-lg btn-block font-weight-bold py-5 px-5 d-flex align-items-center justify-content-center btn-container">
                    Exportar Partidos
                </a>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
  
    <script>
        
    $(document).ready(function() {
        

    });
        
    </script>
    
{% endblock %}
