{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <style>
        nav.navbar{display: none;}
        
        .text-3d {
            font-size: 2.5em; /* Tamaño del texto aumentado */
            color: #e0e0e0; /* Color más claro para resaltar el tono plateado */
            text-shadow: 2px 2px 5px #000, 0 0 30px #bbb, 0 0 10px #fff;
            font-weight: bold;
            letter-spacing: 2px; /* Espaciado entre letras */
        }
    </style>


{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container d-flex vh-100">
        <div class="row justify-content-center align-self-center w-100">
            <div class="col-md-3 text-center">
                <img class="mb-4 img-thumbnail" src="{{ app.request.getSchemeAndHttpHost() ~ asset('imagenes/logo_igblasa_portada.png') }}">
                <h1 class="h3 mb-3 font-weight-normal text-3d">LOGIN</h1>
                <a href="{{ url('login_google')}}" class="btn btn-lg btn-primary btn-block my-4">Pulsa para identificarte</a>
                <hr>
                <p class="text-muted">&copy; {{ title_general }}</p>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
