{% extends 'base.html.twig' %}

{% block title %} {{ title_general }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row justify-content-center">
        <div class="col-11">
            <h1 class="mb-4">Usuarios</h1>
            <p><a href="{{ path('app_fut_t_empresas_new') }}" class="btn btn-danger">Crear Empresa</a></p>
            <div class="table-responsive">
                <table class="table" id="tbl-empresas">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Empresa</th>
                            <th>Direccion</th>
                            <th>Ciudad</th>
                            <th>Teléfono</th>
                            <th>Web</th>
                            <th>Mail</th>
                            <th>Tipo Empresa</th>
                            <th>Imagen</th>
                            <th>Mostrar</th>
                            <th>Orden</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fut_t_empresa in fut_t_empresas %}
                            <tr>
                                <td>{{ fut_t_empresa.idEmpresa }}</td>
                                <td>{{ fut_t_empresa.empresa }}</td>
                                <td>{{ fut_t_empresa.direccion }}</td>
                                <td>{{ fut_t_empresa.ciudad }}</td>
                                <td>{{ fut_t_empresa.telefono }}</td>
                                <td>{{ fut_t_empresa.web }}</td>
                                <td>{{ fut_t_empresa.mail }}</td>
                                <td>{{ fut_t_empresa.tipoEmpresa }}</td>
                                <td>{{ fut_t_empresa.imagen |slice(-30) }}</td>
                                <td>{{ fut_t_empresa.mostrar }}</td>
                                <td>{{ fut_t_empresa.orden }}</td>
                                <td>
                                    <a class="btn btn-sm btn-success my-2 mx-2" href="{{ path('app_fut_t_empresas_edit', {'id_empresa': fut_t_empresa.idEmpresa}) }}">Editar</a>
                                    {{ include('web_colmenar/fut_t_empresas/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        jQuery(document).ready(function ($) {
            
            $('#tbl-empresas').DataTable({
                searching: true,
            });
            
        })
        
    </script>
    
{% endblock %}
